<h1>Education</h1>


<%# <% @education.each do |education| %>
  <%# <div class="education-item">
    <h2><%= education[:degree] </h2>%>
    <%# <p><%= education[:university] </p>%>
    <%# <p><%= education[:year] </p> %>
  <%# </div>
<% end %>
