<h1>Experience</h1>

<%# <% @experiences.each do |experience| %>
 <%#  <div class="experience">
   <%#  <h2><%= experience.title </h2>%>
   <%#  <p><%= experience.company </p>%>
   <%#  <p><%= experience.duration </p>%>
    <%# <p><%= experience.description </p>%>
  <%# </div> %>
<%# <% end %>
